.tab-panel{
    font-weight: normal;
    background-color: #FFFFFF;
    height: 40px;
   
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: auto; 
 overflow-y:hidden
    }
.tab-panel::-webkit-scrollbar {
        display: none;
    }
.table-tab-head{
display: -webkit-box;
    display: box;
    -webkit-box-align: center;
    box-align: center;

}
.tab-span{
display: block;
 padding: 10px;
 text-align: center;
 color: #929292;
}
.add-hr{
border-top: 1px solid #fafafa;
}
.add-col-hr{
border-right: 1px solid #fafafa;
}
.add-bottom-hr{
border-bottom: 1px solid #fafafa;
}
.label-font{
font-size:16px;

}
.menuactive{
    background-color: #007aff;
   color:white
}
.item1{
display: none;
}

