.zdy-hr-div{
border-top: 1px solid #d8d8d8;
}

.title-span-dtl-div{
background: #fff;
font-size: 15px;

}

.title-span-dtl{
 margin-left:5px;
 margin-top:2px;
 border-bottom: 1px solid #d8d8d8;
}

.zdyum-list{
    background: #fff;
    overflow: hidden;
    position: relative;
    
}

.zdyli{
position: relative;
height: 45px;
-webkit-transition: all 0.2s;
transition: all 0.2s;
border-bottom: 1px solid #d8d8d8;
}

.zdya{
    height:100%;    
}

.zdy-li-inner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}


.zdynumber{
  float:left;
  height:45px;
  line-height:45px;
  width:20%;
  font-size:14px;
  color: black;
}

/*序号span*/
.zdy-number-span{
  height:45px;
  line-height:45px;
  text-align:left;
  vertical-align: center;
  font-size:14px;
  color: black;
}


.zdycontent{
height:45px;
 line-height:45px;
float:left;
width:60%;
height:45px;
text-align:center;
vertical-align: center;
color: black;
}

.zdy-img-div{
width:20%;
height:45px;
line-height:45px;
float:left;
text-align: right;
padding-right:10px;
}



.queryli[data-type="0"]{
  transform: translate3d(0,0,0);
}
.queryli[data-type="1"]{
  transform: translate3d(-70px,0,0);
}

.zdy-delete-div{
width:70px;
height:100%;
position: absolute;
text-align: center;
    top: 0;
    right: -1px;
    bottom: 0;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

.zdy-delete-span{
    width: 70px;
    text-align: center;
    background: red;
    color: #fff;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    display: box;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


.zdyaddItem{
    height: 45px;
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
}