.info-item .info-middle span {
	margin: 0px;
	padding-right: 6px;
}

.info-item .info-middle {
    text-align: right;
}

.toast {
	border: 0;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 70px;
	background-color: #007aff;
	color: #fff;
}