.mint-switch {
	float: right;
	height: 100%;
}

.mint-switch-core::after {
	content: "关";
	text-align: center;
	line-height: 32px;
	color: #c2c2c2;
}

.mint-switch-input:checked~
.mint-switch-core::after {
	content: "开";
	text-align: center;
	line-height: 32px;
	color: #4086ec;
}

.mint-switch-input:checked + .mint-switch-core {
    border-color: #407ed9;
    background-color: #4086ec;
}

.mint-switch-core::before {
    background-color: #ededed;
}