<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../../../css/mintui.css">
		<link rel="stylesheet" href="../../util/util.css">
		<link rel="stylesheet" href="pumpStation.css"/>

		<script type="text/javascript" src="../../../js/summer.js" ></script>
		<script type="text/javascript" src="../../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script type="text/javascript" src="../../../js/vue.js"></script>
		<script type="text/javascript" src="../../../js/mintui.js"></script>
		<script type="text/javascript" src="../../util/util.js" ></script>
		<script type="text/javascript" src="pumpStationDetail.js" ></script>
	</head>
	<body>
		<div class="um-win" id="index">
			<div class="um-header header-bg">
				<a href="#" class="um-back" @click="goback"></a>
				<h3 class="title-color">泵站运行（{{shiftTime}}:00）</h3>
				<div class="um-header-btns">
					<a href="#" class="savebtn" @click="saveForm"></a>
				</div>
			</div>

			<div class="um-content">
				<div class="um-label um-box-justify">
					<div class="label-title">
						*上游水位(米)
					</div>
					<div class="label-content">
						<input type="number" id="upStream" v-model="upStream"/>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						*下游水位(米)
					</div>
					<div class="label-content">
						<input type="number" id="downStream" v-model="downStream"/>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						*集水井水位(米)
					</div>
					<div class="label-content">
						<input type="number" id="well" v-model="well"/>
					</div>
				</div>

				<div class="um-label um-box-justify" v-if=(shiftTime==0||shiftTime==23)>
					<div class="label-title">
						*1号泵0点电机电表读数(度)
					</div>
					<div class="label-content">
						<input type="number" id="pump1" v-model="pump1"/>
					</div>
				</div>

				<div class="um-label um-box-justify" v-if=(shiftTime==0||shiftTime==23)>
					<div class="label-title">
						*2号泵0点电机电表读数(度)
					</div>
					<div class="label-content">
						<input type="number" id="pump2" v-model="pump2"/>
					</div>
				</div>

				<div class="um-label um-box-justify" v-if=(shiftTime==0||shiftTime==23)>
					<div class="label-title">
						*3号泵0点电机电表读数(度)
					</div>
					<div class="label-content">
						<input type="number" id="pump3" v-model="pump3"/>
					</div>
				</div>

				<div class="um-label um-box-justify label-mark">
					<div class="label-title">
						各水泵电压、电流等是否正常
					</div>
					<div class="label-content">
						<textarea id="normalCheck" class="double-percent" v-model="normalCheck"></textarea>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>