li:nth-child(3n+1) .tile-shadow {
	background: rgba(40, 35, 160, 0.6);
}

li:nth-child(3n+2) .tile-shadow {
	background: rgba(30, 115, 210, 0.6);
}

li:nth-child(3n+3) .tile-shadow {
	background: rgba(35, 163, 107, 0.6);
}