.iSlider-wrapper {
	height: 180px;
}
.um-grid-row div {
	padding: 0;
}
.um-grid-row .box, .um-grid-row .lbox div {
	border-radius: 5px;
}
.um-grid-row .box.module-bg {
	height: 140px;
	margin: 6px 3px 3px 6px;
	flex-grow: 1.2;
	color: #f5c904;
}

.um-grid-row .lbox {
	margin: 6px 6px 3px 3px;
	flex-grow: 2;
}
.um-grid-row .module-bg {
	height: 68px;
}
.um-grid-row .module-bg a {
	display:block;
}
.um-grid-row .module-bg a:active {
	padding-left: 2px;
}

.um-grid-row .lbox div:last-of-type {
	margin-top: 4px;
}

.module-bg {
	background: rgba(82, 181, 243, 0.3);
}

a {
	color: #dfdfdf;
}



