li:nth-child(3n+1) .tile-shadow {
	background: rgba(35,70, 160, 0.6);
}

li:nth-child(3n+2) .tile-shadow {
	background: rgba(35,154, 163, 0.6);
}

li:nth-child(3n+3) .tile-shadow {
	background: rgba(158,163, 35, 0.6);
}