<!DOCTYPE html>
<html>
		<head>
				<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
				<meta charset="UTF-8">
				<title></title>
				<link rel="stylesheet" href="../../css/iuapmobile.um.css">
				<link rel="stylesheet" href="../../css/mintui.css" />
				<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_913882_dfgp2uj2ulh.css">
				<link rel="stylesheet" href="../util/util.css">
				<link rel="stylesheet" href="login.css">

				<script type="text/javascript" src="../../js/jquery.min.js" ></script>
				<script type="text/javascript" src="../../js/summer.js" ></script>
				<script type="text/javascript" src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
				<script type="text/javascript" src="../../js/vue.js"></script>
				<script type="text/javascript" src="../../js/mintui.js"></script>
				<script type="text/javascript" src="../util/util.js" ></script>
				<script type="text/javascript" src="../util/lang/lang.js" ></script>
				<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
				<script type="text/javascript" src="../../js/her.min.js" ></script>
				<script type="text/javascript" src="login.js"></script>
		</head>

		<!--<div class="btn-group btn-group-justify">
		<button type="button" class="btn um-btn-info" onclick="jump(0)">
		管养
		</button>
		<button type="button" class="btn um-btn-success" onclick="jump(1)">
		桥隧
		</button>
		<button type="button" class="btn um-btn-primary" onclick="jump(2)">
		庆春
		</button>
		<button type="button" class="btn um-btn-danger" onclick="jump(3)">
		紫之
		</button>
		<button type="button" class="btn um-btn-danger" onclick="jump(4)">
		测试
		</button>
		</div>-->
		<body>
				<div class="um-win" id="index">
						<div class="login-mask"></div>
						<div id="main" class="um-content p15 um-box-center um-row">
								<div class="login-panel" v-if="loginStatus==0">
										<div class="login-form">
												<div class="panel-title" @click="secretDoor(3)" v-text="langFunk('panelTitle')"></div>

												<div class="um-label um-box-justify">
														<div class="label-title" v-text="langFunk('usernameLabel')"></div>
														<div class="label-content">
																<input id="usrname" type="text" v-model="usrname" placeholder="" disabled="" @click="selectUsrname()"/>
														</div>
												</div>

												<div class="um-label um-box-justify">
														<div class="label-title" v-text="langFunk('passwordLabel')"></div>
														<div class="label-content">
																<input id="password" :type="showPD ? 'text' : 'password'" v-model="password" placeholder=" "/>
																<div :class=" 'icon iconfont icon-' + ((showPD) ? 'eye' : 'closeye') " @touchstart="showPD= true" @touchend="showPD= false" @touchmove="showPD= false"></div>
														</div>
												</div>

												<div class="remeberPD">
														{{langFunk('remeberPDLabel')}}
														<input class="remember-checkbox" type="checkbox" v-model="remeberPD">
												</div>

												<div class="btn-group" id="tmp" v-if="serverShow">
														<div class="ultra-btn temp-btn left" @click="goMenu('sale')">
																销&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;售
														</div>
														<div class="ultra-btn temp-btn right" @click="goMenu('procure')">
																采&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购
														</div>
												</div>

												<div class="btn-group">
														<div class="ultra-btn ip-btn left" @click="ipWIndowToggle=true" v-if="serverShow">
																<div class="icon iconfont icon-ip"></div>
																{{langFunk('serverBtnText')}}
														</div>
														<div :class=" 'ultra-btn login-btn' +( (serverShow) ? ' right' : '' ) " @click="login()">
																<div class="icon iconfont icon-login"></div>
																{{langFunk('loginBtnText')}}
														</div>
												</div>
										</div>
								</div>
								<div class="WindowWrapper" v-if="ipWIndowToggle">
										<div class="ipWindow">
												{{langFunk('ipInputGuideText')}}
												<div class="inputWrapper">
														<input  v-model="ipLocationInput" type="text" placeholder=" " class="ipLocationInput"/>
														<div class="icon iconfont icon-close" @click="ipLocationInput=''"></div>
												</div>
												<div class="btn-group">
														<div class="ultra-btn ip-btn left" @click="ipWIndowToggle=false;ipLocation=ipLocationInput" v-text="langFunk('confirmBtntext')"></div>
														<div class="ultra-btn ip-btn right" @click="ipWIndowToggle=false;ipLocationInput=ipLocation" v-text="langFunk('cancelBtntext')"></div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</body>
</html>