#submitbtn {
	position: relative;
	display: block;
	width: 50% !important;
	font-family: inherit;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer !important;
	color: #007aff;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #007aff;
	-webkit-user-select: none;
	padding: 9px 12px;
	font-size: 17px;
	line-height: 1.5;
	border-radius: 25px !important;
	color: #FFF;
	background-color: #4788d8;
	display: inline-block;
	margin-bottom: 0;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	border-radius: 4px;
	-webkit-user-select: none;
	padding: 0;
	width: 90%;
	margin-left: 25%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.picbtn {
	position: relative;
	display: block;
	width: 100%;
	font-family: inherit;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #007aff;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #007aff;
	-webkit-user-select: none;
	padding: 9px 12px;
	font-size: 17px;
	line-height: 1.5;
	border-radius: 5px;
	color: #FFF;
	background-color: #4788d8;
	display: inline-block;
	margin-bottom: 0;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	border-radius: 4px;
	-webkit-user-select: none;
	padding: 0;
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}
.picbtndiv {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	height: 100%;
}
.picspan {

	vertical-align: middle;
}
#shi {
	padding: 0px;
	width: 20px;
	height: 20px;
}
.picdiv {
	width: 100%;
}
.imageContent {
	width: 60%;
	height: 150px;
}

#picchoosediv {
	position: absolute;
	background: white;
}
#picul {
	height: 100%;
}
.picli {
	text-align: center;
	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}
.pichr {
	margin: 0px;
}

.picspan {
	text-align: center;
}

.textdivmoduel1 {
	font-size: 20px;
	background: white;
	width: 100%;
	height: 25px;
	line-height: 25px;
	border: 0px;
}
#shift-div {
	width: 100%;
	height: 30px;
}
.shift-group1 {
	height: 30px;
	font-size: 20px;
}
.inputStyle {
	vertical-align: 0px;
	margin-bottom: 2px;
}
.radio1 {
	height: 40px;
	font-size: 25px;
	display: inline-block;
	display: inline;
	margin-right: 60px;/*选项之间的距离*/
	position: relative;
	text-align: center;
}
.timedepartmentleft {
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	width: 33%;
	height: 80px;
	border-left: 1px solid #9F9FA6;
	border-top: 1px solid #9F9FA6;
}
.timedepartmentright {
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	width: 33%;
	height: 80px;
	border-left: 1px solid #9F9FA6;
	border-top: 1px solid #9F9FA6;
	border-right: 1px solid #9F9FA6;
}
.timedepartmentmiddle {
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	width: 34%;
	height: 80px;
	border-left: 1px solid #9F9FA6;
	border-top: 1px solid #9F9FA6;
}
.last-timedepartmentleft {
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	width: 33%;
	height: 80px;
	border-left: 1px solid #9F9FA6;
	border-top: 1px solid #9F9FA6;
	border-bottom: 1px solid #9F9FA6;
}
.last-timedepartmentright {
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	width: 33%;
	height: 80px;
	border: 1px solid #9F9FA6;
}
.last-timedepartmentmiddle {
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	width: 34%;
	height: 80px;
	border-left: 1px solid #9F9FA6;
	border-top: 1px solid #9F9FA6;
}
.time-show-line1 {
	float: left;
	display: inline;
	text-align: center;
	vertical-align: middle;
}
.gou {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	width: 14px;
	height: 14px;
}
.choosepicoutdiv {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
}
.choosepicdiv {
	text-align: center;
}
.choosepicbz {
	width: 40px;
	height: 40px;
	text-align: center;
}
.choosepicspan {
	text-align: center;
	font-size: 15px;
}
.dagou {
	width: 15px;
	height: 10px;
	position: absolute;
	z-index: 22;
	right: 6px;
	bottom: 20px;
	vertical-align: baseline;
}
.last-dagou {
	width: 15px;
	height: 10px;
	right: 12px;
	bottom: 20px;
	position: absolute;
	z-index: 22;
	vertical-align: baseline;
}

.dap-detail-div {
	width: 100%;
	margin-left: 5%;
	margin-top: 20px;
}
.dap-detail-div1 {
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
	text-align: center;
}
.dap-detail-text {
	height: 180px;
	width: 100%;
	border: 1px solid #9F9FA6;
}
.dap-detail-pic {
	height: 180px;
	width: 100%;
	border: 1px solid #9F9FA6;
}
.dap-detail-span {
	display: block;
	width: 100%;
	font-family: inherit;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	color: #007aff;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #007aff;
	-webkit-user-select: none;
	padding: 9px 12px;
	font-size: 17px;
	line-height: 1.5;
	color: #FFF;
	background-color: #4788d8;
	display: inline-block;
	margin-bottom: 0;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	-webkit-user-select: none;
	padding: 0;
	width: 100%;
}
.show-pg-zdyli {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #9F9FA6;
}
.show-pg-zdydiv {
	display: inline-block;
}
.zdy-list-item-left {
	width: 25%;
}
.zdy-list-item-right {
	width: 70%;
	margin-bottom: 10px;
}
h5 {
	text-align: center;
	display: block;
	margin: 0;
	padding: 9px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #ffffff;
}
.special-img {
	width: 80%;
	height: 25px;
}
.special-ul {
	border-top: 1px solid #9F9FA6;
	width: 100%;
	display: block;
	height: auto;
}
.special-span-left-div {
	float: left;
	width: 10%;
	text-align: center;
}
.special-span-right-div {
	float: left;
	width: 90%;
	border-bottom: 1px solid #9F9FA6;
}
.special-li {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 25px;
}

.um-check-inline {
	margin-right: 20px;
}

.um-content, .um-list {
	background-color: rgb(243, 251, 250);
}

.um-list {
	padding: 8px 25px;
	border-bottom: none;
	border-top: none;
}

.um-list .um-list-item-inner:after {
	background-color: transparent;
}

/* item style a */
.itema .um-list-item-left {
	text-align: right;
	width: 35% !important;
}

.itema .um-list-item-right {
	padding-left: 15px;
}

/* item style b */
.itemb .um-list-item-inner {
	display: block;
}

.itemb .um-list-item-inner {
	display: block;
}

.itemb .um-list-item-left {
	width: 100%;
}

.itemc {
	border-bottom: 0.5px #c7cbcb solid;
	padding: 8px 20px !important;
}

.myBox {
	background-color: white !important;
	padding: 6px !important;
	border: 0.5px solid #c7cbcb !important;
	border-radius: 5px !important;
}

.addItem {
	height: 30px;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.addItemPic {
	height: 100%;
}

.addItemText {
	font-size: 16px;
	color: #1597db;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #b3b3b3;
}
input:-moz-placeholder, textarea:-moz-placeholder {
	color: #b3b3b3;
}
input::-moz-placeholder, textarea::-moz-placeholder {
	color: #b3b3b3;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #b3b3b3;
}