.add-hr{
border-top: 1px solid #fafafa;
}
.item1{
display: none;
}
.choosetime{
width: 100px;
text-align:center;
}
.show-full-item{
border-top: 1px solid #fafafa;
font-weight: normal;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 10px;
    max-width: none;
    overflow: hidden;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    
}
.show-title{
float:left;
width:25%;
height:40px;
line-height: 40px;
font-size:15px;
}
.show-content{
width: 75%;
float:left;
height:40px;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.show-content textarea,.show-content input{
outline: none;
    border: none;
    padding-right: 10px;
    background: url(../../../../img/tangle.png) no-repeat scroll right bottom transparent;
    background-size: 10px 10px;
    
}