<!--by zhuhy-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="../../../../css/iuapmobile.um.css"/>
		<link type="text/css" rel="stylesheet" href="../../../../css/mintui.css"/>
		<link type="text/css" rel="stylesheet" href="http://at.alicdn.com/t/font_861007_efmb9485d5j.css"/>
		<link type="text/css" rel="stylesheet" href="../../../util/util.css"/>
		<link type="text/css" rel="stylesheet" href="inspectRiverCategory.css"/>

		<script type="text/javascript" src="../../../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../../../js/summer.js" ></script>
		<script type="text/javascript" src="../../../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
		<script type="text/javascript" src="../../../../js/vue.js"></script>
		<script type="text/javascript" src="../../../../js/mintui.js"></script>
		<script type="text/javascript" src="../../../util/util.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
		<script type="text/javascript" src="../../../../js/her.min.js" ></script>
		<script type="text/javascript" src="inspectRiverCategory.js"></script>
	</head>
	<body>
		<div class="um-win" id="index">
			<div class="um-header header-bg">
				<a href="#" class="um-back" @click="goback"></a>
				<h3 class="title-color" v-text="category.text"></h3>
				<div class="um-header-btns">
					<a href="#" class="savebtn" @click="saveForm"></a>
				</div>
			</div>

			<div class="um-content">
				<div class="slider-wrapper inspectRiveSubCate" v-if="category.subCate.length">
					<div class="ultra-slider">
						<div class="icon iconfont icon-tabarrow" @click=""></div>
						<div class="slider-item" :class="(index==selectedSubCate?'active':'')" v-for="(item, index) in category.subCate" @click="subCateClick(index)">
							<div class="slider-text" v-text=item></div>
						</div>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数
					</div>
					<div class="label-content">
						<input type="text" @click="popupVisibleAmount = true" readonly v-model="amount" />
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						预计天数
					</div>
					<div class="label-content">
						<input type="text" @click="popupVisibleDayAmount = true" readonly v-model="dayAmount" />
					</div>
				</div>

				<div class="um-listview-wrap ultraList" id="inspectDetail">
					<div class="um-label um-box-justify">
						<div class="label-title">
							详情描述
						</div>
					</div>
					<ul class="um-list um-no-active">
						<mt-cell-swipe :right="[{content: '删除',handler: function(){deleteItem(index)}}]" v-for="(item, index) in listDatas">
							<li class="um-listview-row">
								<a href="#" class="um-list-item um-swipe-action um-no-icon"@click="itemClick(index)" @touchstart="tapHold(index)" @touchmove="cancelTapHold" @touchend="cancelTapHold">
								<div class="um-list-item-inner">
									<div>
										序号<span v-text=index+1></span>
									</div>
									<div class="item-content" style="left: 25%">
										详情描述：<span v-text="item.detail_description"></span>
									</div>
									<div class="icon iconfont icon-unchecked" v-if="item.fill_completion==='1'"></div>
								</div> </a>
							</li>
						</mt-cell-swipe>
					</ul>
				</div>

				<div class="um-list-item itemc" style="background-color: white">
					<div @click="addItem()"  class="addItem">
						<i class="icon iconfont icon-add"></i>
						<span class="addItemText">添加详情描述</span>
					</div>
				</div>
				
				<!--个数下拉选择控件-->
				<mt-popup v-model="popupVisibleAmount" position="bottom">
					<mt-picker :slots="amounts" :show-toolbar=true value-key="text" @change="onValueChange" :visible-item-count="5" ref="amountPicker">
						<span @click="popupVisibleAmount= false" class="custom-toolbar-btn cancel-btn">取消</span>
						<span @click="confirmChangeAmount" class="custom-toolbar-btn confirm-btn">确定</span>
					</mt-picker>
				</mt-popup>
				
				<!--预计天数下拉选择控件-->
				<mt-popup v-model="popupVisibleDayAmount" position="bottom">
					<mt-picker :slots="dayAmounts" :show-toolbar=true value-key="text" @change="onValueChange" :visible-item-count="5" ref="dayAmountPicker">
						<span @click="popupVisibleDayAmount= false" class="custom-toolbar-btn cancel-btn">取消</span>
						<span @click="confirmChangeDayAmount" class="custom-toolbar-btn confirm-btn">确定</span>
					</mt-picker>
				</mt-popup>

				<!--日期下拉选择控件-->
				<mt-datetime-picker ref="picker-date" type="date" :start-date="startDate" :end-date="endDate" :visible-item-count="5" @confirm="handleDateConfirm" v-model="datePickerValue"></mt-datetime-picker>
			</div>
		</div>
	</body>
</html>