.slider-wrapper.inspectRiveSubCate {
	height: 40px;
	box-shadow: 0px 1px 8px 1px rgba(196, 196, 196, 0.46);
}

.slider-wrapper.inspectRiveSubCate .ultra-slider {
	background: #efeff4;
}

.slider-wrapper.inspectRiveSubCate .ultra-slider .icon-tabarrow {
	text-align: right;
	position: fixed;
	z-index: 11;
	right: 0;
	padding-right: 3px;
	font-size: 10px;
	line-height: 40px;
	width: 30px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%);
}

.slider-wrapper.inspectRiveSubCate .ultra-slider .slider-item {
	justify-content: center;
	align-items: center;
	background: #efeff4;
	color: #a2a1a1;
	font-size: 13px;
}

.slider-wrapper.inspectRiveSubCate .ultra-slider .slider-item:last-child {
	margin-right: 20px;
}

.slider-wrapper.inspectRiveSubCate .ultra-slider .slider-item.active {
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
	color: black;
	z-index: 1;
}

#inspectDetail {
	margin-top: 10px;
}
