<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/iuapmobile.um.css">
		<link rel="stylesheet" type="text/css" href="../../css/islider.css">
		<link rel="stylesheet" type="text/css" href="../../css/mintui.css">
		<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_861007_efmb9485d5j.css">
		<link rel="stylesheet" href="../util/util.css" />
		<link rel="stylesheet" href="menu.css"/>

		<script type="text/javascript" src="../../js/summer.js"></script>
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
		<script type="text/javascript" src="../../js/islider.js"></script>
		<script type="text/javascript" src="../../js/vue.js"></script>
		<script type="text/javascript" src="../util/util.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
		<script type="text/javascript" src="../../js/her.min.js" ></script>
		<script type="text/javascript" src="menu.js"></script>
	</head>
	<body>
		<div class="loadingLayer"></div>
		<div class="um-win" id="index" :class=dept>
			<div class="um-header header-bg" >
				<h3 class="title-color">路桥养护管理系统</h3>
			</div>
			<div class="um-content bg">
				<div class="um-row section-wrapper">
					<div class="section-shadow"></div>
					<div class="section-dpt" v-text=deptShowName+"公司项目部"></div>
					<i class="icon iconfont icon-portrait"></i>
					<div id="iSlider-wrapper" class="iSlider-wrapper"></div>
				</div>

				<div class="cacheEntry info-item clearPanel" @click="goCacheList">
					<i class="icon iconfont icon-cacheList"></i>
					<div class="info-middle" style="font-weight: 600;font-size: 15px">
						历&nbsp;&nbsp;史&nbsp;&nbsp;记&nbsp;&nbsp;录
					</div >
					<i class="icon iconfont icon-arrowright"></i>
				</div>

				<div class="um-grid">
					<div class="um-listview-wrap" id="listview">
						<ul class="tile-ul">
							<li class="tile-li" v-for="(item, index) in modules">
								<div class="tile-inner">
									<a @touchstart="tapHold(index)" @touchmove="moveTapHold(index)" @touchend="cancelTapHold(index)"> <i class="icon iconfont" :class="'icon-'+item.module_id"></i> <div class="tile-shadow"></div> <img :src="'../../img/'+item.module_id+'.jpg'" class="tile-bg"> <p class="tile-title" v-text="item.module_title"></p></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>