/*管养样式*/
.maintain li:nth-child(3n+1) .tile-shadow {
	background: rgba(35,70, 160, 0.6);
}

.maintain li:nth-child(3n+2) .tile-shadow {
	background: rgba(35,154, 163, 0.6);
}

.maintain li:nth-child(3n+3) .tile-shadow {
	background: rgba(158,163, 35, 0.6);
}

/*桥隧样式*/
.bridges li:nth-child(3n+1) .tile-shadow {
	background: rgba(40, 35, 160, 0.6);
}

.bridges li:nth-child(3n+2) .tile-shadow {
	background: rgba(30, 115, 210, 0.6);
}

.bridges li:nth-child(3n+3) .tile-shadow {
	background: rgba(35, 163, 107, 0.6);
}
