#outer {
	background-color: rgba(0, 0, 0, 0.2);
	width: 60%;
	margin-left: 20%;
	padding: 20px;
	border-radius: 12px;
	top: 241.5px;
}

#divmask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
	display: block;
	z-index: 99;
}

#outerimg {
	width: 100%;
	text-align: center;
}

#show-loading {
	width: 40px;
	height: 40px;
}

#outerp {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
#titlespan {
	color: white;
}