<!--by zhuhy-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="../../../css/iuapmobile.um.css"/>
		<link type="text/css" rel="stylesheet" href="../../../css/mintui.css"/>
		<link type="text/css" rel="stylesheet" href="http://at.alicdn.com/t/font_861007_efmb9485d5j.css"/>
		<link type="text/css" rel="stylesheet" href="../../util/util.css"/>
		<link type="text/css" rel="stylesheet" href="addUse.css"/>

		<script type="text/javascript" src="../../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../../js/summer.js"></script>
		<script type="text/javascript" src="../../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
		<script type="text/javascript" src="../../../js/vue.js"></script>
		<script type="text/javascript" src="../../../js/mintui.js"></script>
		<script type="text/javascript" src="../../util/util.js"></script>
		<script type="text/javascript" src="addUse.js"></script>
	</head>
	<body>
		<div class="um-win" id="index">
			<div class="um-header header-bg">
				<a href="#" class="um-back" @click="goback"></a>
				<h3 class="title-color">强电值班</h3>
			</div>

			<div class="um-content">
				<div class="um-listview-wrap ultraList" id="passboatlist">
					<ul class="um-list um-no-active">
						<mt-cell-swipe :right="[{content: '删除',handler: function(){deleteItem(index)}}]" v-for="(item, index) in listDatas">
							<li class="um-listview-row">
								<a href="#" class="um-list-item um-swipe-action um-no-icon"@click="itemClick(index)" @touchstart="tapHold(index)" @touchmove="cancelTapHold" @touchend="cancelTapHold">
								<div class="um-list-item-inner">
									<div>
										序号<span v-text=index+1></span>
									</div>
									<div class="item-content">
										时间：<span v-text="item.pass_time"></span>
									</div>
									<div class="icon iconfont icon-unchecked" v-if="item.fill_completion==='1'"></div>
								</div> </a>
							</li>
						</mt-cell-swipe>
					</ul>
				</div>

				<div class="um-list-item itemc" style="background-color: white">
					<div @click="addItem()"  class="addItem">
						<i class="icon iconfont icon-add"></i>
						<span class="addItemText">添加问题</span>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>