.span-middle{
   text-align: center;
    width: 80%;
    color: #4086ec;
    display: inline-block;
    height: 38px;
    line-height:38px;
    font-size:16px;
}
.icon-timebz{
width:30px;
height:30px;
display:inline-block;
background-image:url(img/cl.png);
background-position:center center;
background-size:20px 20px;
background-repeat:no-repeat;
}
.icon-right-checked{
width:24px;
height:24px;
display:inline-block;
background-image:url(img/checked.png);
background-position:center center;
background-size:16px 16px;
background-repeat:no-repeat;
}
.show-full-item{
border-top: 1px solid #fafafa;
font-weight: normal;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 10px;
    max-width: none;
    overflow: hidden;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    
}

.choosetime{
width: 100px;
text-align:center;
}
.show-title{
float:left;
width:20%;
height:40px;
line-height: 40px;
font-size:14px;
}
.show-content{
width: 80%;
float:left;
height:40px;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.label-content textarea,.show-content textarea,.show-content input{
outline: none;
    border: none;
    padding-right: 10px;
    background: url(../../../../img/tangle.png) no-repeat scroll right bottom transparent;
    background-size: 10px 10px;
    
}
.show-board-title{
width:100%;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    text-align: center;
    height:48px;
    line-height:30px;
    background: white;
    border-top:1px solid #fafafa;
}


.show-num-item{
color: #4086ec;
}

.show-num{
color: #ecc308;
}