.span-middle{
   text-align: center;
    width: 70%;
    color: #4086ec;
    display: inline-block;
    height: 38px;
    line-height:38px;
    font-size:16px;
}
.icon-timebz{
width:30px;
height:30px;
display:inline-block;
background-image:url(img/icon-timebz.png);
background-position:center center;
background-size:30px 30px;
background-repeat:no-repeat;
}

.icon-san{
width:15px;
height:15px;
display:inline-block;
background-image:url(img/san.png);
background-position:center center;
background-size:15px 15px;
background-repeat:no-repeat;
}

.bottomgou{
width:15px;
height:15px;
display:inline-block;
background-image:url(img/bottomgou.png);
background-position:center center;
background-size:15px 15px;
background-repeat:no-repeat;
}

.icon-right-checked{
width:24px;
height:24px;
display:inline-block;
background-image:url(img/checked.png);
background-position:center center;
background-size:16px 16px;
background-repeat:no-repeat;
}

.show-title{
display:block;
width: 100%;
height: 25px;
color:#4086ec;
line-height: 25px;
}

.show-content{
width: 100%;
display:block;
height:40px;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.show-full-item{
border-top: 1px solid #fafafa;
font-weight: normal;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 10px;
    max-width: none;
    overflow: hidden;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    
}

.show-item-content textarea,.show-item-content  input{
outline: none;
    border: none;
    padding-right: 10px;
    background: url(../../../img/tangle.png) no-repeat scroll right bottom transparent;
    background-size: 10px 10px;
    
}

.show-item-label{
margin-left:15px;
}
.time1-play-div{
display: none;
}

   