.item1{
display: none;
}
.clearbox{
clear:both;
}
.morn-after{
float:right;
width: 100px;
height:30px;
margin-right:20px;
margin-top:15px;
}
.menuactive{
    background-color: #007aff;
   color:white
}
.othercontent{
width:100px;
}
.choosepanel{
width: 100%;
border-top:0.5px #e6e6eb solid;
background:white;
}
.fgf{
 height:0.5px;
 border:none;
 border-top:0.5px #e6e6eb solid;
}
.add-hr{
border-top:0.5px #e6e6eb solid;
}