.item1{
display: none;
}
.clearbox{
clear:both;
}
.morn-after{
float:right;
width: 100px;
height:30px;
margin-right:20px;
margin-top:15px;
}
.menuactive{
    background-color: #007aff;
   color:white
}
.othercontent{
width:100px;
}

.show-full-item{
border-top: 1px solid #fafafa;
font-weight: normal;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 10px;
    max-width: none;
    overflow: hidden;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    
}

.choosetime{
width: 100px;
text-align:center;
}
.show-title{
float:left;
width:23%;
height:40px;
line-height: 40px;
font-size:14px;
}
.show-content{
width: 77%;
float:left;
height:40px;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.show-content textarea,.show-content input{
outline: none;
    border: none;
    padding-right: 10px;
    background: url(../../../../img/tangle.png) no-repeat scroll right bottom transparent;
    background-size: 10px 10px;
    
}
.show-board-title{
width:100%;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    text-align: center;
    height:48px;
    line-height:30px;
    background: white;
    border-top:1px solid #fafafa;
}


.show-label{
width:74%;
height:48px;
line-height:48px;
font-size:16px;

}
.icon-san1{
vertical-align: middle;
width:13%;
height:48px;
display:inline-block;
background-image:url(img/san.png);
background-position:center center;
background-size:15px 15px;
background-repeat:no-repeat;
}

.icon-san2{
vertical-align: middle;
width:13%;
height:48px;
display:inline-block;
background-image:url(img/bottomgou.png);
background-position:center center;
background-size:15px 15px;
background-repeat:no-repeat;
}

.icon-period{
margin-left:15px;
vertical-align: middle;
width:13%;
height:48px;
display:inline-block;
background-image:url(img/period.png);
background-position:center center;
background-size:30px 30px;
background-repeat:no-repeat;
}

.icon-monitoring{
margin-left:15px;
vertical-align: middle;
width:13%;
height:48px;
display:inline-block;
background-image:url(img/monitoring.png);
background-position:center center;
background-size:35px 35px;
background-repeat:no-repeat;
}

.icon-hj{
margin-left:15px;
vertical-align: middle;
width:13%;
height:48px;
display:inline-block;
background-image:url(img/hj.png);
background-position:center center;
background-size:28px 28px;
background-repeat:no-repeat;
}

.icon-jt{
margin-left:15px;
vertical-align: middle;
width:13%;
height:48px;
display:inline-block;
background-image:url(img/jt.png);
background-position:center center;
background-size:30px 32px;
background-repeat:no-repeat;
}

.icon-wl{
margin-left:15px;
vertical-align: middle;
width:13%;
height:48px;
display:inline-block;
background-image:url(img/wl.png);
background-position:center center;
background-size:30px 28px;
background-repeat:no-repeat;
}

.show-board-item{
margin-left:12px;
background:white;
}

.show-ul{
background:white;
}

.choosepanel{
width: 100%;
background:white;
}

















