<!--by zhuhy-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="../../../css/iuapmobile.um.css"/>
		<link type="text/css" rel="stylesheet" href="../../../css/mintui.css"/>
		<link type="text/css" rel="stylesheet" href="http://at.alicdn.com/t/font_861007_efmb9485d5j.css"/>
		<link type="text/css" rel="stylesheet" href="../../util/util.css"/>
		<link type="text/css" rel="stylesheet" href="manageRiver.css"/>

		<script type="text/javascript" src="../../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../../js/summer.js" ></script>
		<script type="text/javascript" src="../../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
		<script type="text/javascript" src="../../../js/vue.js"></script>
		<script type="text/javascript" src="../../../js/mintui.js"></script>
		<script type="text/javascript" src="../../util/util.js"></script>
		<script type="text/javascript" src="manageRiver.js"></script>
	</head>
	<body>
		<div class="um-win" id="index">
			<div class="um-header header-bg">
				<a href="#" class="um-back" @click="goback"></a>
				<h3 class="title-color" v-text="module_title"></h3>
				<div class="um-header-btns">
					<a href="#" class="savebtn" @click="saveForm"></a>
				</div>
			</div>

			<div class="um-content">
				<div class="um-label um-box-justify">
					<div class="label-title">
						填报日期
					</div>
					<div class="label-content">
						<input type="text" class="double-percent" @click="open('picker-date')" v-model="fillInDate" readonly>
					</div>
				</div>
				<div class="um-listview-wrap ultraList" id="manageplan">
					<ul class="um-list um-no-active">
						<mt-cell-swipe :right="[{content: '删除',handler: function(){deleteItem(index)}}]" v-for="(item, index) in listDatas">
							<li class="um-listview-row">
								<a href="#" class="um-list-item um-swipe-action um-no-icon"@click="itemClick(index)" @touchstart="tapHold(index)" @touchmove="cancelTapHold" @touchend="cancelTapHold">
								<div class="um-list-item-inner">
									<div>
										序号<span v-text=index+1></span>
									</div>
									<div class="item-content" style="left: 25%">
										河道名称：<span v-text="item.equip_name"></span>
									</div>
									<div class="icon iconfont icon-unchecked" v-if="item.fill_completion==='1'"></div>
								</div> </a>
							</li>
						</mt-cell-swipe>
					</ul>
				</div>

				<div class="um-list-item itemc" style="background-color: white">
					<div @click="addItem()"  class="addItem">
						<i class="icon iconfont icon-add"></i>
						<span class="addItemText">添加河道整改计划</span>
					</div>
				</div>

				<button class="submitbtn" @click="submitForm">
					提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交
				</button>

				<!--日期下拉选择控件-->
				<mt-datetime-picker ref="picker-date" type="date" :start-date="startDate" :end-date="endDate" :visible-item-count="5" @confirm="handleDateConfirm" v-model="datePickerValue"></mt-datetime-picker>
			</div>
		</div>
	</body>
</html>