/* **** */
.header-bg {
	background: #4086ec;
}

.um-header-btns {
	right: 1%;
}

.um-header-btns a {
	width: 30px;
	height: 30px;
}

.savebtn {
	background: url(../../img/saveBtn.png) no-repeat;
	background-size: 85% 85%;
	background-position: center;
}

.savebtn:hover {
	opacity: .3;
	background-size: 85% 85%;
	background-position: center;
}

/*菜单页样式*/
.bg {
	background: #e3e3e3;
	padding-bottom: 2.5%;
}

.tile-inner .icon, .section-wrapper .icon{
	font-size: 55px;
	color: white;
	position: absolute;
	z-index: 3;
	width: 100%;
	text-align: center;
	pointer-events: none;
	top: 11%;
}

.section-wrapper {
	background: white;
	box-shadow: 1px 1px 15px rgba(110,110,110, 0.8);
	margin: 4.5% 3% 2.5% 3%;
	position: relative;
}

.section-shadow {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	pointer-events: none;
	background: rgba(64, 134, 236, 0.6);
}

.section-dpt {
	position: absolute;
	bottom: 10%;
	width: 100%;
	color: white;
	z-index: 3;
	font-size: 15px;
	text-align: center;
	text-shadow: 1px 1px 9px #000000;
	pointer-events: none;
}

.iSlider-wrapper {
	height: 135px;
}

.islider-dot-wrap {
	display: none;
	text-align: center;
}

.clearPanel {
    height: 40px;
    background: black;
    background: white;
    box-shadow: 1px 1px 15px rgba(220, 220, 220, 0.57);
    margin: 4.5% 3% 2% 3%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 3%;
}

.tile-ul {
	width: 100%;
	position: relative;
	padding: 0 1%;
}

.tile-li {
	width: 46%;
	position: relative;
	display: inline-block;
	margin: 2%;
	height: 120px;
	background: white;
	box-shadow: 1px 1px 9px rgba(70,70,70, 0.77);
}

.tile-shadow {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}

.tile-inner {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.tile-inner a:active .tile-bg {
	transform: scale(1.2);
	z-index: 1;
}

.tile-inner a .tile-bg {
	transition: all .5s ease-out;
}

.tile-bg {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.tile-title {
	position: absolute;
	top: 69%;
	width: 100%;
	color: white;
	font-size: 15px;
	text-align: center;
	z-index: 3;
	text-shadow: 1px 1px 9px rgba(0,0, 0, 0.64);
	pointer-events: none;
}

/* 设置分割线 */
.um-label + .um-label {
	border-top: 1px solid #fafafa;
}

.title-color {
	color: white;
}

/* 统一设置全局字体大小 */
.um-content {
	font-size: 13px;
}

.mr70 {
	margin-right: 70px;
}

.double-percent {
	width: 100%;
	height: 100%;
}

/* 表单 */
.um-label .label-title {
	flex-grow: 2;
}

.um-label .label-content {
	height: 100%;
	flex-grow: 5;
	text-align: left;
	line-height: 46px;
}

/* select 控件 */
.um-label div select {
	padding-right: 10px;
	border: none;
	text-align: center;
	text-align-last: right;
	outline: none;
	/*很关键：将默认的select选择框样式清除*/
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/*在选择框的最右侧中间显示小箭头图片*/
	/*为下拉小箭头留出一点位置，避免被文字覆盖*/
	background: url(../../img/tangle.png) no-repeat scroll right bottom transparent;
	background-size: 10px 10px;
}

/* 固定数据  */
.um-label .label-content span {
	padding-right: 10px;
	display: inline-block;
}

/* um-label textarea 控件 */
.um-label.label-mark {
	height: 80px;
}

.um-label .label-content textarea, .um-label .label-content input {
	outline: none;
	border: none;
	padding-right: 10px;
}

.um-label .label-content textarea {
	padding-top: 10px;
	resize: none;
}

/* 设置选择器字体大小 */
div[role=option] {
	font-size: 14px !important;
}

.um-label .label-content .scroller-date {
	padding-right: 10px;
	text-align: left;
	text-align-last: left;
	background: url(../../img/tangle.png) no-repeat scroll right bottom transparent;
	background-size: 10px 10px;
}

.label-content input {
	background: url(../../img/tangle.png) no-repeat scroll right bottom transparent;
	background-size: 10px 10px;
}

/* 设置输入框disabled状态下的背景色 */
input[disabled] {
	background: #ffffff;
}

/* 枚举选择器 控件 */
.label-content input {
	width: 100%;
	height: 100%;
}

/* 单选框 */
.um-check-inline .um-icon-checkbox {
	color: #f5c904;
}

/* ---- picker view start ---- */
.mint-popup-bottom {
	width: 100%;
}
.mint-popup-bottom .picker-slot-wrapper, .picker-item {
	backface-visibility: hidden;
}

.v-modal {
	background: rgba(0, 0, 0, 0.2);
}

.picker-toolbar {
	border-bottom: solid 1px #eaeaea;
}

.picker-toolbar .custom-toolbar-btn {
	display: inline-block;
	width: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #3a79d5;
}

.cancel-btn {
	float: left;
}

.confirm-btn {
	float: right;
}
/* ---- picker view end ---- */

/* ---- picker date start ---- */
.mint-datetime {
	width: 100%;
}
.mint-datetime .picker-slot-wrapper, .mint-datetime .picker-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.mint-datetime .picker-toolbar {
	border-bottom: solid 1px #eaeaea;
}
.mint-datetime-action {
	display: inline-block;
	width: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #26a2ff;
}
.mint-datetime-cancel {
	float: left;
}
.mint-datetime-confirm {
	float: right;
}
/* ---- picker date end ---- */

/*iconfont的样式*/
.icon {
	font-size: 45px;
	color: #4086ec;
	width: 10%;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
}

.iconfont.icon-arrowright {
	font-size: 16px;
}

.icon-arrowright:before {
	float: right;
}

.iconfont.icon-cacheList {
	font-size: 20px !important;
}

.iconfont.icon-add {
	text-align: right;
	font-size: 25px;
	color: #4086ec;
}

/*信息条目样式，比如：过船，添加图片*/
.info-item .info-middle {
	text-align: center;
	width: 80%;
	color: #4086ec;
	display: inline-block;
}

.info-item .info-middle span {
	color: #ecc308;
	margin: 0px 10px;
}

/********************************添加图片功能结束***********************/
.box.clearfix {
	background: #ffffff;
	margin-bottom: 0.2rem;
}
#ibox .con {
	float: left;
	width: 100%;
	height: 100%;
	border-radius: 0.4rem;
	overflow: hidden;
}

#ibox .conBox {
	position: relative;
	width: 22%;
	height: 4.5rem;
	float: left;
	margin-right: 3%;
	margin-bottom: 3%;
}
.icon-close-c:before {
	display: block;
	content: "x";
	background: #ddd;
	width: 15px;
	height: 15px;
	border-radius: 7.5px;
	text-align: center;
	color: #fff;
	line-height: 15px;
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



#ibox .con:nth-child(4n) {
	margin-right: 0;
}

#ibox .font {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 1px solid #d3d3d3;
	border-radius: 0.5rem;
	background: url('../../img/s-j.png') no-repeat center center;
	background-size: 1.46rem 1.46rem;
}

#ibox img {
	display: block;
}

#ibox .close {
	position: absolute;
	top: -0.5rem;
	right: -0.35rem;
	width: 0.9rem;
	height: 0.9rem;
	z-index: 999;
	font-size: 0.9rem;
	color: #ddd;
}

.box.inputBox {
	height: 0.5rem;
	position: relative;
}

.box input[type='text'] {
	width: 95%;
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.3rem;
	border: none;
	outline: none;
	position: absolute;
	left: 0.2rem;
	top: 0.2rem;
}
/********************************添加图片功能结束***********************/

/********************************拍照功能开始***********************/

#fileDiv {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 48;
}

#zhezhao {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	z-index: 49;
}

.none {
	display: none;
}

.totalBox {
	/*总高度3.2rem*/
	position: absolute;
	bottom: -3.2rem;
	left: 0.3rem;
	right: 0.3rem;
	z-index: 50;
}

.totalBox ul {
	margin-bottom: 0.28rem;
	border-radius: 0.15rem;
	background: #fff;
	overflow: hidden;
}

.totalBox li {
	line-height: 0.9rem;
}

.totalBox ul .bor {
	border-bottom: 1px solid #e4e4e4;
}

.totalBox .btn {
	color: #343434;
	text-align: center;
	font-size: 0.36rem;
	border: none;
}

#scopeBox {
	margin-top: 0.2rem;
	background-color: #fff;
}

#scopeBox .list {
	height: 0.88rem;
	line-height: 0.88rem;
}

#scopeBox .list .txt {
	font-size: 0.28rem;
	color: #333333;
	padding-left: 0.34rem;
}

#scopeBox .list .fr {
	position: relative;
	float: right;
	margin-right: 0.5rem;
}

#scopeBox .list .fr .iconfont.icon-enter {
	position: absolute;
	height: 0.28rem;
	font-size: 0.28rem;
	right: -0.4rem;
	top: 0.04rem;
	color: #DBDBDB;
}

#scopeBox .list .fr input {
	display: block;
	width: 3.6rem;
	height: 0.9rem;
	line-height: 0.9rem;
	border: none;
	outline: none;
	text-align: right;
	background: #fff;
	position: static;
	font-size: 0.3rem;
	color: #999999;
}
/********************************拍照功能结束***********************/

/* 提交按钮*/
.submitbtn {
	position: relative;
	display: block;
	width: 50% !important;
	font-family: inherit;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer !important;
	border-radius: 25px !important;
	color: white !important;
	background-color: #4086ec;
	display: inline-block;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	padding: 0;
	margin: 20px 25% 10px 25%;
}

/*添加列表样式*/
.addItem {
	height: 40px;
	width: 100%;
	display: inline-block;
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 5px;
}

.addItemPic {
	height: 100%;
	width: auto;
}

.addItemText {
	font-size: 16px;
	color: #4086ec;
	margin-left: 10px;
}

.addList .itemContent {
	position: absolute;
	left: 40%;
}

.um-listview-row .um-list-item-inner {
	height: 40px;
	padding: 0px 15px;
}

.mint-cell-swipe-button {
    background: rgb(244, 67, 54);
    color: rgb(255, 255, 255);    
    width: 100%;
    line-height: 40px !important;
    text-align: center;
}

.mint-cell-right {
    width: 20%;
}

/*自定义时段选择控件样式*/
.test-box {
	width: 100%;
	padding-top: 30px;
	position: relative;
	margin: 10px 0.5% 0px 0.5%;
}

.test-box > .test-tab {
	width: 100%;
}

.test-box .test-label {
	background-color: #e6e6eb;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	line-height: 25px;
	box-sizing: border-box;
	width: 100%;
}

.test-label {
	top: 0;
	border-width: 1px 0px 1px 1px;
	border: none;
	color: #929292;
}

.test-box .content {
	background-color: #fff;
	height: 20px;
	display: none;
	border: 1px solid #ccc;
}

.test-box input.test-radio {
	display: none;
}

.test-box input:checked~
.test-label {
	background-color: #fff;
	color: black;
}

.table {
	display: table;
	border-collapse: collapse;
	margin: 10px 0 10px 0;
	width: 100%;
}

.table-column-group {
	display: table-column-group;
}

.table-column {
	display: table-column;
	width: 100px;
}

.table-row-group {
	display: table-row-group;
}

.table-row {
	display: table-row;
	background: white;
	height: 60px;
}

.table-row.test-box {
	height: 25px;
}

.table-cell {
	width: 33.34%;
	display: inline-table;
	text-align: center;
	position: relative;
	border-bottom: 0.5px #e6e6eb solid;
	border-right: 0.5px #e6e6eb solid;
}

.table-cell .icon-unchecked {
	color: #49d23c;
	text-align: right;
	position: absolute;
	top: 0;
	right: 13px;
}

.table-cell.jump {
	line-height: 44px;
}

/*自定义列表样式*/
.ultraList .um-list {
	padding: 0;
}

.ultraList .mint-cell-value, .um-listview-row {
	width: 100%;
}

.ultraList .um-list .um-list-item-inner:after {
	display: none;
}

.ultraList .um-list .um-list-item-inner .item-content {
	position: absolute;
	left: 50%;
}

.ultraList .um-list .um-list-item-inner .icon-unchecked {
	color: #49d23c;
	text-align: right;
}

.ultraList .mint-cell {
	min-height: 30px;
}

.ultraList .um-list {
	border-bottom: none;
	border-top: none;
}

.ultraList .mint-cell-swipe .mint-cell-wrapper {
	padding: 0px;
}

/*自定义滑动控件样式*/
.slider-wrapper {
	width: 100%;
	position: relative;
	overflow-x: scroll;
    margin: 10px 0;
}

.slider-wrapper::-webkit-scrollbar {
	display: none;
}

.ultra-slider {
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 100%;
	background: white;
	white-space: nowrap;
}

.ultra-slider .slider-item {
	height: 100%;
	display: inline-flex;
	width: 20%;
	position: relative;
	background: white;
}

.ultra-slider .slider-item .category-icon {
	font-size: 48px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
}

.ultra-slider .slider-item .icon-unchecked {
	position: absolute;
	color: #49d23c;
	top: 50%;
	width: 100%;
	text-align: right;
	right: 20%;
}

.ultra-slider .slider-item .icon-unchecked:before {
    background: white;
    border-radius: 100%;
}

.ultra-slider .slider-item .slider-text {
	width: 100%;
	text-align: center;
}

/*自定义范围控件样式*/
.ultra-range {
	width: 60%;
}

.ultra-range .middel-text {
	width: 10%;
	display: inline-block;
	text-align: center;
}

.ultra-range input {
	width: 43%;
}

/*加载视觉样式*/
.loadingLayer {
	position: fixed;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: rgba(50, 50, 50, 0.5);
	z-index: 100;
	display: none;
}

.loadingInner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	width: 50%;
	height: 15%;
	border-radius: 10px;
	margin: auto;
	z-index: 1000;
	display: none;
}

.canvasContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 20%;
	z-index: 10000;
	display: none;
}

.canvasContainer canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 500px;
	margin: -250px 0 0 -250px;
	-outline: 1px solid #fff;
}

.loadingHint {
	color: white;
	font-size: 12px;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 16%;
	display: none;
	z-index: 100000;
}

/*桥隧tab选择样式*/

.table-tab{
	display: table;
	border-collapse: collapse;
	width: 100%;
	background-color: #FFFFFF;
	
}

.tab-head{
width:100%;
height:35px;
}



.table-tab-cell{
    width: 33%;
    text-align: center;
    float:left;
    border-bottom: 0.5px #e6e6eb solid;
    border-top:0.5px #e6e6eb solid;
    color: #929292;
}

.table-center-tab-cell{
    width: 34%;
    text-align: center;
    float:left;  
    border-right: 0.5px #e6e6eb solid;
    border-left: 0.5px #e6e6eb solid;
    border-bottom: 0.5px #e6e6eb solid;
    border-top:0.5px #e6e6eb solid;
    color: #929292;
}


.tab-label-font {
	display: inline-block;
	height:35px;
	font-size: 17px;
	line-height: 35px;
	box-sizing: border-box;
	width: 100%;
	
}

/*种类标志文本*/
.show-content-title{
  width:100%;
  height:30px;
  margin-left:5px;
  margin-top:5px;
}

.show-title-span{
 height:30px;
 line-height:30px;
 font-size:16px;
 
}

/*详情文档*/
.show-content-item{
margin-left:60px;
margin-top:5px;
}
.show-item-text{
width:50%;
display:inline-block;
text-align:center;
vertical-align: center;
}
.show-item-text-dtl{
line-height:20px;
height:20px;
font-size:15px;
}
/*单选按钮组*/
.show-item-choose{
width:40%;
display:inline-block;
text-align:center;
vertical-align: middle;
}

.show-item-bz{
display:inline-block;

}

.show-item-bz-last{
margin-left: 20px;

}

.show-border-span{
border: 0.5px #e6e6eb solid;
}

.show-pic-radio{
display:none;
}
.show-pic-gou{
width: 35px;
height:30px;
}

.show-pic-cha{
width: 25px;
height:25px;
}

/*选择差后弹出框*/
.show-choose-title{
clear:both;
}
.show-choose-content-item{
margin-left:15px;
margin-top:5px;
}
.show-choose-item-text{
width:60%;
display:inline-block;
text-align:left;
vertical-align: middle;
}

.fill-font-color{
color:#4086EC;
}
.show-choose-item-text-dtl{

line-height:30px;
height:30px;
font-size:15px;
}
.show-choose-item-choose{
width:30%;
float:right;
margin-right:15px;
display:inline-block;
text-align:right;
vertical-align: middle;
}

.show-choose-fill-item{
width:100%;

}
.show-choose-fill-item-title{
width:30%;
text-align:left;
display:inline-block;
line-height:30px;
height:30px;
}
.show-choose-fill-item-dtl{
width:60%;
text-align:left;
float:right;
margin-right:20px;
vertical-align: middle;
display:inline-block;
line-height:30px;
height:30px;
}

.show-choose-fill{
margin-left:10px;
border-bottom:  0.5px #e6e6eb solid;
}

.show-choose-fill-item-dtl textarea,.show-choose-fill-item-dtl  input{
outline: none;
    border: none;
    padding-right: 10px;
    background: url(../../img/tangle.png) no-repeat scroll right bottom transparent;
    background-size: 10px 10px;
    
}

.show-pic-gou-span{
line-height:30px;
height:30px;
font-size:16px;
color: #e6e6eb;
}
.show-item-bz-left{
margin-right:20px;
}
.pic-gou-span-active{
color: #4086EC;
}
.show-choose-p{
margin:0px 10px 0px 10px;
color: #C8C8CD
}


/*详情文档*/
.show-single-content-item{
margin-left:20px;
margin-top:5px;
}
.show-single-item-text{
width:80%;
display:inline-block;
text-align:left;
vertical-align: center;
}
/*单选按钮组*/
.show-single-item-choose{
width:10%;
display:inline-block;
text-align:center;
vertical-align: middle;
}


.table-onlytwo-tab-cell{
    width: 50%;
    text-align: center;
    float:left;
    border-bottom: 0.5px #e6e6eb solid;
    border-top:0.5px #e6e6eb solid;
    color: #929292;
}


