<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../css/font-icons.css">
		<link rel="stylesheet" href="../../../css/iuapmobile.um.css"/>
		<link rel="stylesheet" href="../../../css/mintui.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/iuapmobile.um.listview.css">
		<link rel="stylesheet" href="qsbridgecontrol.css">
		

		<script type="text/javascript" src="../../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../js/summer.js" ></script>
		<script type="text/javascript" src="../../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script type="text/javascript" src="../../../js/vue.js"></script>
		<script type="text/javascript" src="../../../js/mintui.js"></script>
		<script type="text/javascript" src="../../util/util.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
		<script type="text/javascript" src="../../../js/her.min.js" ></script>
		<script src="qsbridgecontrol.js" ></script>
		
	</head>
	<body>
		<div class="um-win" id="index">
			<div class="um-header" >
				<span class="um-back" id="returnbtn"></span>
				<h3>复兴大桥</h3>
			</div>

			<div class="um-content">
				<div class="um-listview-wrap" id="listview">
					<ul class="um-list um-no-active">
						<div class="item-panel" v-for="(item, index) in listDatas">
							<li class="um-listview-row listitem" @click="itemClick(index)">
								<div class="um-list-item-inner">
									<img class="tileIcon" alt="" :src="item.img">
									<div class="tileName">{{ item.tilename }}</div>
									<img class="tileArrow" src="img/san.png">
								</div>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>

		
	</body>
</html>