.msg-info {
	position: relative;
}
.msg-info .um-badge {
	position: absolute;
	right: -10px;
	font-size: 12px;
	top: 6px;
}
.msg-header {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: blue;
	border-radius: 50%;
	text-align: center;
	color: white;
}
.um-listview-row:active {
	background-color: #eee;
}
.mint-cell-value {
	width: 100%;
	line-height: 1.5;
}
.mint-cell-wrapper {
	padding: 0;
	background-image: none;
}

.tileIcon {
	margin-right: 15px;
	width: 10%;
}

.tileName {
	text-align: left;
	float: left;
	width: 82%;
}

.tileArrow {
	width: 10%;
    padding: 15px 15px 15px 0px;
}

.um-list-item-inner {
	height: 60px;
	padding:10px 0px 10px 10px;
}

.listitem {
	padding-top: 15px;
}
.item-panel{
background: white;
}