<!--by zhuhy-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="../../../css/iuapmobile.um.css">
		<link type="text/css" rel="stylesheet" href="../../../css/mintui.css">
		<link type="text/css" rel="stylesheet" href="http://at.alicdn.com/t/font_861007_e5je0imgl4c.css"/>
		<link type="text/css" rel="stylesheet" href="../../util/util.css">
		<link type="text/css" rel="stylesheet" href="inspectRiver.css"/>

		<script type="text/javascript" src="../../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../js/summer.js" ></script>
		<script type="text/javascript" src="../../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script type="text/javascript" src="../../../js/vue.js"></script>
		<script type="text/javascript" src="../../../js/mintui.js"></script>
		<script type="text/javascript" src="../../util/util.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
		<script type="text/javascript" src="../../../js/her.min.js" ></script>
		<script type="text/javascript" src="inspectRiver.js"></script>
	</head>
	<body>
		<div class="loadingLayer"></div>
		<div class="um-win" id="index">
			<div class="um-header header-bg">
				<a href="#" class="um-back" @click="goback"></a>
				<h3 class="title-color" v-text="module_title"></h3>
				<div class="um-header-btns">
					<a href="#" class="savebtn" @click="saveForm"></a>
				</div>
			</div>

			<div class="um-content">
				<div class="um-label um-box-justify">
					<div class="label-title">
						河道名称
					</div>
					<div class="label-content">
						<input type="text" @click="popupVisible = true" readonly v-model="equipName" />
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						填报日期
					</div>
					<div class="label-content">
						<input type="text" class="double-percent" @click="open('picker-date')" v-model="fillInDate" readonly>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						项目名称
					</div>
					<div class="label-content">
						<input type="text" @click="popupVisibleProject = true" readonly v-model="projectName" />
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						养护单位
					</div>
					<div class="label-content">
						<input type="text" @click="popupVisibleContractor = true" readonly v-model="maintainContractor" />
					</div>
				</div>

				<div class="um-label um-box-justify label-mark">
					<div class="label-title">
						备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注
					</div>
					<div class="label-content">
						<textarea id="memo" class="double-percent" v-model="memo"></textarea>
					</div>
				</div>

				<div class="slider-wrapper inspectRiveCate">
					<div class="ultra-slider">
						<div class="slider-item" v-for="(item, index) in categories" @click="goCategory(index)">
							<div class="category-icon icon iconfont " :class="'icon-'+item.id"></div>
							<div class="icon iconfont icon-unchecked" v-if="parseInt(item.completion,2)>0"></div>
							<div class="slider-text" v-text=item.text></div>
						</div>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						巡&nbsp;查&nbsp;人
					</div>
					<div class="label-content">
						<input id="inspector" type="text" v-model="inspector"/>
					</div>
				</div>

				<button class="submitbtn" @click="submitForm">
					提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交
				</button>

				<!--设备名称下拉选择控件-->
				<mt-popup v-model="popupVisible" position="bottom">
					<mt-picker :slots="equips" :show-toolbar=true value-key="text" @change="onValueChange" :visible-item-count="5" ref="equiPicker">
						<span @click="popupVisible= false" class="custom-toolbar-btn cancel-btn">取消</span>
						<span @click="confirmChange" class="custom-toolbar-btn confirm-btn">确定</span>
					</mt-picker>
				</mt-popup>

				<!--项目名称下拉选择控件-->
				<mt-popup v-model="popupVisibleProject" position="bottom">
					<mt-picker :slots="projectNames" :show-toolbar=true value-key="text" @change="onValueChange" :visible-item-count="3" ref="projectPicker">
						<span @click="popupVisibleProject= false" class="custom-toolbar-btn cancel-btn">取消</span>
						<span @click="confirmChangeProject" class="custom-toolbar-btn confirm-btn">确定</span>
					</mt-picker>
				</mt-popup>

				<!--养护单位下拉选择控件-->
				<mt-popup v-model="popupVisibleContractor" position="bottom">
					<mt-picker :slots="maintainContractors" :show-toolbar=true value-key="text" @change="onValueChange" :visible-item-count="3" ref="contractorPicker">
						<span @click="popupVisibleContractor= false" class="custom-toolbar-btn cancel-btn">取消</span>
						<span @click="confirmChangeContractor" class="custom-toolbar-btn confirm-btn">确定</span>
					</mt-picker>
				</mt-popup>

				<!--日期下拉选择控件-->
				<mt-datetime-picker ref="picker-date" type="date" :start-date="startDate" :end-date="endDate" :visible-item-count="5"   @confirm="handleDateConfirm"  v-model="datePickerValue"></mt-datetime-picker>
			</div>
		</div>
	</body>
</html>