.slider-wrapper.inspectRiveCate {
	height: 95px;
	display: flex;
}

.slider-wrapper.inspectRiveCate .ultra-slider .slider-item {
	justify-content: center;
	align-items: flex-end;
}

.slider-wrapper.inspectRiveCate .ultra-slider .slider-item .slider-text {
    margin-bottom: 10px;
}