.um-header .um-header-btns .icon-clear {
	color: white;
	font-size: 22px;
	pointer-events: auto;
}

.um-header .um-header-btns .icon:hover {
	opacity: .3;
}

.info-item .info-middle {
	color: black !important;
	text-align: left;
	padding-left: 20px;
}

.info-item .cacheIcon {
	font-size: 25px;
}

.shadowLayer {
	height: 100%;
	width: 100%;
	background: rgba(28, 28, 28, 0.3);
	position: fixed;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom.messageBox {
	background: white;
	border: 1px solid #b2b2b2;
	border-radius: 10px;
	width: 80%;
}

.custom.messageBox .clearOptions {
	color: black;
	padding: 5%;
	width: 100%;
}

.custom.messageBox .radioItem {
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}

.custom.messageBox .radioLabel {
	line-height: 30px;
	display: inline;
	font-size: 14px;
}

.custom.messageBox .radioBtn {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	opacity: 0;
	left: 0;
	top: 0;
}

.custom.messageBox .icon-unchecked {
    pointer-events: none;
	color: #cccccc;
}

.custom.messageBox .icon-unchecked:before {
	float: right;
}

.custom.messageBox input:checked~
.icon-unchecked {
	color: #4086ec;
}

.custom.messageBox .toolBar {
	height: 50px;
	border-top: 1px rgba(224, 224, 224, 0.8) solid;
}

.custom.messageBox .toolBar .optionBtn {
	height: 50px;
	width: 50%;
	line-height: 50px;
	text-align: center;
	font-size: 15px;
}

.custom.messageBox .toolBar .optionBtn:hover {
	background: rgba(224, 224, 224, 0.5);
}

.custom.messageBox .toolBar .optionBtn.cancel-btn {
	border-right: 1px rgba(224, 224, 224, 0.5) solid;
}

#wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1;
	background: rgba(102, 102, 102, 0.6);
}
#wrap canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 500px;
	margin: -250px 0 0 -250px;
	-outline: 1px solid #fff;
}

.info {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 12px;
	color: #ccc;
	line-height: 2em;
	text-align: center;
}