<!--by zhuhy-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../css/iuapmobile.um.css"/>
		<link rel="stylesheet" href="../../../css/mintui.css"/>
		<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_861007_efmb9485d5j.css"/>
		<link rel="stylesheet" href="../../util/util.css"/>
		<link rel="stylesheet" href="cacheSubList.css"/>

		<script type="text/javascript" src="../../../js/summer.js" ></script>
		<script type="text/javascript" src="../../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script type="text/javascript" src="../../../js/vue.js"></script>
		<script type="text/javascript" src="../../../js/mintui.js"></script>
		<script type="text/javascript" src="../../util/util.js" ></script>
		<script type="text/javascript" src="cacheSubList.js" ></script>
	</head>
	<body>
		<div class="um-win" id="index">
			<div class="um-header header-bg">
				<a href="#" class="um-back" @click="goback"></a>
				<h3 class="title-color" v-text=module_title></h3>
			</div>

			<div class="um-content">
				<div class="infoList" id="savelist">
					<mt-cell-swipe :right="[{content: '删除',handler: function(){deleteItem(index)}}]" v-for="(item, index) in records">
						<a href="#" class="um-list-item um-swipe-action um-no-icon itemWrapper" @click="itemClick(index)">
						<div class="itemContents">
							<div v-text="item.equip_name" class="itemContent equipName"></div>
							<div v-text="((typeof item.fillin_date == 'undefined')?'':item.fillin_date)+' '+((typeof item.fillin_time == 'undefined')?'':item.fillin_time)" class="itemContent saveTime"></div>
						</div> <i class="icon iconfont icon-arrowright"></i> </a>
					</mt-cell-swipe>
				</div>
			</div>
		</div>
	</body>
</html>