.infoList .itemContent {
	display: block;
	line-height: 22px;
}

.infoList .itemContents {

}

.mint-cell-value {
	width: 100%;
}

.infoList .itemWrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	color: black;
}

.mint-cell-swipe .mint-cell-wrapper {
	padding: 0px;
}