<!--by zhuhy-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../../../css/mintui.css">
		<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_861007_efmb9485d5j.css">
		<link rel="stylesheet" href="../../util/util.css">
		<link rel="stylesheet" href="cacheList.css"/>

		<script type="text/javascript" src="../../../js/summer.js" ></script>
		<script type="text/javascript" src="../../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script type="text/javascript" src="../../../js/vue.js"></script>
		<script type="text/javascript" src="../../../js/mintui.js"></script>
		<script type="text/javascript" src="../../util/util.js" ></script>
		<script type="text/javascript" src="cacheList.js" ></script>
	</head>
	<body>
		<div class="um-win" id="index">
			<div class="um-header header-bg">
				<a href="#" class="um-back" @click="goback"></a>
				<h3 class="title-color">历史记录</h3>
				<div class="um-header-btns">
					<i class="icon iconfont icon-clear" @click="clearCache" v-if=modules.length></i>
				</div>
			</div>

			<div class="um-content">
				<div class="um-label um-box-justify info-item" @click="cacheClick(index)" v-for="(item, index) in modules" v-if=parseInt(item.record_num)>
					<i class="icon iconfont cacheIcon" :class="'icon-'+item.module_id"></i>
					<div class="info-middle" v-text=item.module_title></div >
					<i class="icon iconfont icon-arrowright"></i>
				</div>
			</div>

			<!--自定义的messageBox控件-->
			<div class="shadowLayer" id="fadeinComponent" style="display: none">
				<div class="custom messageBox">
					<div class="clearOptions">
						<div v-for="(item,index) in modules" class="radioItem" v-if=parseInt(item.record_num)>
							<label v-text=item.module_title class="radioLabel"></label>
							<input  type="checkbox" v-model=item.checkStatus class="radioBtn">
								<div class="icon iconfont icon-unchecked"></div>
						</div>
						<div class="radioItem">
							<label class="radioLabel" style="color:#4086ec;">全选</label>
							<input  type="checkbox" v-model=checkAll class="radioBtn">
								<div class="icon iconfont icon-unchecked"></div>
						</div>
					</div>
					<div class="toolBar">
						<div class="optionBtn cancel-btn" @click="cancelMessageBox">
							取&nbsp;&nbsp;&nbsp;&nbsp;消
						</div>
						<div class="optionBtn confirm-btn" @click="confirmMessageBox">
							确&nbsp;&nbsp;&nbsp;&nbsp;定
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>