<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../../../util.css"/>
		<link rel="stylesheet" href="../public/zdypublic.css"/>
		<style>
			.um-nav-item {
				color: #777
			}
			.um-nav-item.active {
				color: #007aff
			}
		</style>

		<script src="../../../../js/summer.js" ></script>
		<script src="../../../../js/jquery.min.js" ></script>
		<script src="../../../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script src="../../../util.js" ></script>
		<script src="../../../../js/vue.js"></script>
		<script src="green.js"></script>

	</head>
	<body>
		<div class="um-win" id="index">
			<div class="um-header header-bg" >
				<a href="#" class="um-back"></a>
				<h3 class="title-color">绿化</h3>
				<div class="um-header-btns">
					<a href="#" class="savebtn"></a>
				</div>
			</div>

			<div class="um-content">
				<div class="um-nav f14">
					<div class="um-nav-inner"  >
						<a  :id="zdyitem.id" href="#" class="um-nav-item" v-for="zdyitem in zdyitems"  @click="zdyaclick" >{{zdyitem.title}}</a>
					</div>
				</div>
				<div class="um-label um-box-justify">
					<div class="label-title">
						个&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp数
					</div>
					<div class="label-content">
						<input type="number" />
					</div>
				</div>
				<div class="um-label um-box-justify">
					<div class="label-title">
						预计天数
					</div>
					<div class="label-content">
						<input type="number" />
					</div>
				</div>
				<div class="zdy-hr-div">
				   <div class="title-span-dtl-div">
				     <span class="title-span-dtl">详情描述</span>
				   </div>
				
					<div>
						<ul class="zdyum-list" >
							<li class="queryli zdyli" data-type="0" v-for="item in items">
								<a href="#" class="zdya um-list-item um-swipe-action um-no-icon"
								@touchstart="touchStart"  @touchend="touchEnd">
								<div class="zdy-li-inner">
									<div class="zdynumber">
										序号<span class="zdy-number-span">1</span>
									</div>
									<div class="zdycontent">
										
									</div>
									<div class="zdy-img-div">
										<img class="gou" src="../img/gou.png"  v-if="item.seen"/>
									</div>
								</div>
								<div class="zdy-delete-div" @click="deleteItem">
									<span class="zdy-delete-span">删除</span>
								</div> </a>
							</li>
						</ul>
					</div>

					<div class="um-list-item itemc" style="background-color: white" @click="divclick">
						<div  class="zdyaddItem" >
							<img src="../img/plus.png" class="addItemPic" />
							<span class="addItemText">添加详情描述</span>
						</div>
					</div>
				</div>
			</div>

			
		</div>
	</body>
</html>