<!--by zhuhy-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../css/iuapmobile.um.css"/>
		<link rel="stylesheet" href="../../../css/mintui.css"/>
		<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_861007_efmb9485d5j.css"/>
		<link rel="stylesheet" href="../../util/util.css"/>
		<link rel="stylesheet" href="boatLock.css"/>

		<script type="text/javascript" src="../../../js/summer.js" ></script>
		<script type="text/javascript" src="../../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
		<script type="text/javascript" src="../../../js/vue.js"></script>
		<script type="text/javascript" src="../../../js/mintui.js"></script>
		<script type="text/javascript" src="../../util/util.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
		<script type="text/javascript" src="../../../js/her.min.js" ></script>
		<script type="text/javascript" src="boatLock.js"></script>
	</head>
	<body>
		<div class="loadingLayer"></div>
		<div class="um-win" id="index">
			<div class="um-header header-bg">
				<a href="#" class="um-back" @click="goback"></a>
				<h3 class="title-color" v-text="module_title"></h3>
				<div class="um-header-btns">
					<a href="#" class="savebtn" @click="saveForm"></a>
				</div>
			</div>

			<div class="um-content">
				<div class="um-label um-box-justify">
					<div class="label-title">
						船闸名称
					</div>
					<div class="label-content">
						<input type="text" @click="popupVisible = true" readonly v-model="equipName" />
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						填报日期
					</div>
					<div class="label-content">
						<input type="text" class="double-percent" @click="open('picker-date')" v-model="fillInDate" readonly>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;气
					</div>
					<div class="label-content">
						<input type="text" @click="popupVisibleWeather = true" readonly v-model="weather" />
					</div>
				</div>

				<div class="table">
					<div class="table-column-group">
						<div class="table-column"></div>
						<div class="table-column"></div>
						<div class="table-column"></div>
					</div>
					<div class="table-row-group" id="choose-time-ul">
						<ul class="table-row test-box">
							<li class="table-cell">
								<input type="radio" class="test-radio" id="radio1" name="shift" value="0" disabled=true v-model="shift">
								<label for="radio1" class="test-label">早&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;班</label>
							</li>
							<li class="table-cell">
								<input type="radio" class="test-radio" id="radio2" name="shift" value="1" disabled=true v-model="shift">
								<label for="radio2" class="test-label">中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;班</label>
							</li>
							<li class="table-cell">
								<input type="radio" class="test-radio" id="radio3" name="shift" value="2" disabled=true v-model="shift">
								<label for="radio3" class="test-label">晚&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;班</label>
							</li>
						</ul>

						<ul class="table-row">
							<li class="table-cell jump" v-for="(item, index) in shiftArray">
								<div @click="shiftClick(index)" v-text="item.shiftTime"></div>
								<div class="icon iconfont icon-unchecked" v-if="item.shiftCompletion"></div>
							</li>
						</ul>
					</div>
				</div>

				<div id="boatclickbtn" class="um-label um-box-justify info-item" @click="boatclick()">
					<i class="icon iconfont icon-goboat"></i>
					<div class="info-middle">
						过船信息
						<span id="boatnum" v-text="boatNum"></span>条
					</div >
					<i class="icon iconfont icon-arrowright"></i>
				</div>

				<div class="um-label um-box-justify label-mark">
					<div class="label-title">
						备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注
					</div>
					<div class="label-content">
						<textarea id="memo" class="double-percent" v-model="memo"></textarea>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						值 &nbsp;班&nbsp;者
					</div>
					<div class="label-content">
						<input id="watchKeeper" type="text" v-model="watchKeeper"/>
					</div>
				</div>

				<button class="submitbtn" @click="submitForm">
					提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交
				</button>

				<!--设备名称下拉选择控件-->
				<mt-popup v-model="popupVisible" position="bottom">
					<mt-picker :slots="equips" :show-toolbar=true value-key="text" @change="onValueChange" :visible-item-count="5" ref="equiPicker">
						<span @click="popupVisible= false" class="custom-toolbar-btn cancel-btn">取消</span>
						<span @click="confirmChange" class="custom-toolbar-btn confirm-btn">确定</span>
					</mt-picker>
				</mt-popup>

				<!--天气下拉选择控件-->
				<mt-popup v-model="popupVisibleWeather" position="bottom">
					<mt-picker :slots="weatherDescriptions" :show-toolbar=true value-key="text" @change="onValueChangeWeather" :visible-item-count="3" ref="weatherPicker">
						<span @click="popupVisibleWeather= false" class="custom-toolbar-btn cancel-btn">取消</span>
						<span @click="confirmChangeWeather" class="custom-toolbar-btn confirm-btn">确定</span>
					</mt-picker>
				</mt-popup>

				<!--日期下拉选择控件-->
				<mt-datetime-picker ref="picker-date" type="date" :start-date="startDate" :end-date="endDate" :visible-item-count="5" @confirm="handleDateConfirm" v-model="datePickerValue"></mt-datetime-picker>
			</div>
		</div>
	</body>
</html>