.showtime {
	margin-top: 0px;
	font-family: "楷体";
	height: 45px;
	margin-left: 120px;
	font-size: 35px;
}
#chooseorient {
	border: 0px;
	width: 100%;
	height: 40px;
	font-size: 20px;
	background: white;
}
#choose-time {
	border: 0px;
	width: 100%;
	height: 30px;
	font-size: 20px;
	background: white;
}