<!--by zhuhy-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../css/iuapmobile.um.css"/>
		<link rel="stylesheet" href="../../util/util.css"/>
		<link rel="stylesheet" href="boatLockDetail.css"/>

		<script type="text/javascript" src="../../../js/summer.js" ></script>
		<script type="text/javascript" src="../../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script type="text/javascript" src="../../../js/vue.js"></script>
		<script type="text/javascript" src="../../util/util.js" ></script>
		<script type="text/javascript" src="boatLockDetail.js" ></script>
	</head>
	<body>
		<div class="um-win" id="index">
			<div class="um-header header-bg">
				<a href="#" class="um-back" @click="goback"></a>
				<h3 class="title-color">船闸运行（{{shiftTime}}:00）</h3>
				<div class="um-header-btns">
					<a href="#" class="savebtn" @click="saveForm"></a>
				</div>
			</div>

			<div class="um-content">
				<div class="um-label um-box-justify">
					<div class="label-title">
						上游水位(米)
					</div>
					<div class="label-content">
						<input type="number" id="upWater" v-model="upWater"/>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						上闸开启开度(%)
					</div>
					<div class="label-content">
						<input type="number" id="upPercent" v-model="upPercent"/>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						闸室水位(米)
					</div>
					<div class="label-content">
						<input type="number" id="waterLevel" v-model="waterLevel"/>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						下闸开启开度(%)
					</div>
					<div class="label-content">
						<input type="number" id="downPercent" v-model="downPercent"/>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						下游水位(米)
					</div>
					<div class="label-content">
						<input type="number" id="downWater" v-model="downWater"/>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>