.span-middle{
   text-align: center;
    width: 70%;
    color: #4086ec;
    display: inline-block;
    height: 38px;
    line-height:38px;
    font-size:16px;
}
.icon-timebz{
width:30px;
height:30px;
display:inline-block;
background-image:url(img/icon-timebz.png);
background-position:center center;
background-size:30px 30px;
background-repeat:no-repeat;
}
.icon-right-checked{
width:24px;
height:24px;
display:inline-block;
background-image:url(img/checked.png);
background-position:center center;
background-size:16px 16px;
background-repeat:no-repeat;
}