<!DOCTYPE html>
<html>
		<head>
				<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
				<meta charset="UTF-8">
				<title></title>
				<link rel="stylesheet" href="../../css/iuapmobile.um.css">
				<link rel="stylesheet" href="../../css/mintui.css" />
				<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_913882_dfgp2uj2ulh.css">
				<link rel="stylesheet" href="../util/util.css">
				<link rel="stylesheet" href="login.css">
				<link rel="stylesheet" href="roadAni.css">

				<script type="text/javascript" src="../../js/jquery.min.js" ></script>
				<script type="text/javascript" src="../../js/summer.js" ></script>
				<script type="text/javascript" src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
				<script type="text/javascript" src="../../js/vue.js"></script>
				<script type="text/javascript" src="../../js/mintui.js"></script>
				<script type="text/javascript" src="../util/util.js" ></script>
				<script type="text/javascript" src="../util/lang/lang.js" ></script>
				<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
				<script type="text/javascript" src="../../js/her.min.js" ></script>
				<script type="text/javascript" src="login.js"></script>
		</head>
		<body>
				<div class="loadingLayer"></div>

				<div class="um-win" id="index">
						<div id="main" class="um-content p15 um-box-center um-row">
								<div class="login-panel" v-if="loginStatus==0">
										<div class="login-form">
												<div class="panel-title" @click="secretDoor(3)">
														路桥养护管理系统
												</div>

												<div class="um-label um-box-justify">
														<div class="label-title">
																用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户
														</div>
														<div class="label-content">
																<input id="usrname" type="text" v-model="usrname" placeholder="" @click=""/>
														</div>
												</div>

												<div class="um-label um-box-justify">
														<div class="label-title">
																密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码
														</div>
														<div class="label-content">
																<input id="password" :type="showPD ? 'text' : 'password'" v-model="password" placeholder=" "/>
																<div :class=" 'icon iconfont icon-' + ((showPD) ? 'eye' : 'closeye') " @touchstart="showPD= true" @touchend="showPD= false" @touchmove="showPD= false"></div>
														</div>
												</div>

												<div class="remeberPD">
														记住密码
														<input class="remember-checkbox" type="checkbox" v-model="remeberPD">
												</div>

												<div class="btn-group">
														<div :class=" 'ultra-btn login-btn' +( (serverShow) ? ' right' : '' ) " @click="login()">
																<div class="icon iconfont icon-login"></div>
																登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录
														</div>
												</div>
										</div>
								</div>
						</div>

						<div class="login-mask"></div>

						<div class="sky"></div>
						<div class="ground" v-if="!inputStatus"></div>
						<div class="roadAni" v-if="!inputStatus">
								<div class='wrap'>
										<div class='cube'>
												<div class='face road'></div>
												<div class='face building1 left'></div>
												<div class='face building1 left'></div>
												<div class='face building1 left'></div>
												<div class='face building1 left'></div>
												<div class='face building1 left'></div>
												<div class='face building1 left'></div>
												<div class='face building1 left'></div>
												<div class='face building1 left'></div>
												<div class='face building1 left'></div>
												<div class='face building1 left'></div>
												<div class='face building1 right'></div>
												<div class='face building1 right'></div>
												<div class='face building1 right'></div>
												<div class='face building1 right'></div>
												<div class='face building1 right'></div>
												<div class='face building1 right'></div>
												<div class='face building1 right'></div>
												<div class='face building1 right'></div>
												<div class='face building1 right'></div>
												<div class='face building1 right'></div>
										</div>
								</div>
						</div>
				</div>
		</body>
</html>