.um-win {
	z-index: 96;
}

.roadAni {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 97;
}

.login-mask {
	width: 100%;
	height: 100%;
	/*background: rgba(255, 0, 86, 0.09);*/
	position: fixed;
	z-index: 98;
	top: 0;
	left: 0;
	pointer-events: none;
}

.um-content {
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: bottom center;
	z-index: 99;
}

.um-label .label-title {
	width: 30% !important;
}

.btn-group {
	position: relative;
	text-align: center;
	width: 90%;
	margin: 5%;
	display: flex;
}

.btn-group .ultra-btn {
	padding: 2% 7%;
	width: 100%;
}

.ultra-btn.right {
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	background: #0084fc;
}

.ultra-btn.left {
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	background: #fc0063;
}

.login-panel {
	background: #fff;
	border-radius: 8px;
	box-shadow: 3px 5px 10px rgba(82, 82, 82, 0.64);
	width: 80%;
}

.login-form {
	padding: 5px;
	color: #525252;
}

.panel-title {
	font-size: 16px;
	text-align: center;
	font-weight: 800;
	margin: 3% 0;
}

.login-btn {
	background: #2485f4;
	padding: 5px;
	border-radius: 8px;
	text-align: center;
	width: 50%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
}

input:focus, textarea:focus, select:focus {
	outline: none;
}

.icon-login {
	color: white;
	font-size: 20px;
	margin-left: -20%;
	margin-right: 20%;
}

.um-label .label-content textarea, .um-label .label-content input {
	height: 25px;
	width: 75%;
	background: #ffffff;
}

.icon-eye, .icon-closeye, .icon-pulldown {
	color: #6f6f6f;
	position: absolute;
	top: 0;
	right: -5px;
	font-size: 25px;
	pointer-events: all;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
}

.um-label .label-content {
	position: relative;
}

.iconfont:active {
	opacity: .7;
}

.remeberPD {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 15px;
	font-size: 13px;
	margin: 2% 0 5% 0;
}

.remember-checkbox {
	margin-left: 5px;
}

.inputWrapper {
	position: relative;
}

.icon-close {
	font-size: 22px;
	position: absolute;
	top: 0;
	right: 10px;
	color: #525252;
	height: 100%;
	display: flex;
	align-items: center;
	pointer-events: all;
}