body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(circle at center, #533bd4, #0089ff);
	overflow: hidden;
}
.ground {
	content: "";
	position: absolute;
	width: 100%;
	height: 20%;
	left: 0;
	top: 80%;
	background: #644350;
}
.sky {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	background: linear-gradient(to top, #ffd39b, rgba(255, 255, 255, 0)), radial-gradient(circle at center, #fcb3a4, #fcb3a4 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 20px), radial-gradient(circle at center, #fcb3a4, #fcb3a4 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 20px);
	background-size: 100%, 100px 100px, 100px 100px;
	background-position: 50%, 40px 40px, 0px 90px;
	opacity: 0.75;
	transform-style: preserve-3d;
}

body .wrap {
	width: 400px;
	height: 200px;
	perspective: 20px;
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translateX(-50%) translateY(-50%);
	transition: 0.4s ease-in-out;
}
body .wrap .cube {
	width: 100%;
	height: 200%;
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateX(0deg);
}
body .wrap .cube .face {
	margin: 0;
	width: 400px;
	height: 100%;
	display: block;
	position: absolute;
}
body .wrap .cube .face.building1 {
	margin-left: -700px;
	transform-style: preserve-3d;
	background: #835768;
	width: 50px;
	height: 800px;
	bottom: 0px;
	animation: lefttoright 28s ease-in-out infinite;
}
body .wrap .cube .face.building1:nth-of-type(1) {
	animation-delay: -3s;
}
body .wrap .cube .face.building1:nth-of-type(2) {
	animation-delay: -6s;
}
body .wrap .cube .face.building1:nth-of-type(3) {
	animation-delay: -9s;
}
body .wrap .cube .face.building1:nth-of-type(4) {
	animation-delay: -12s;
}
body .wrap .cube .face.building1:nth-of-type(5) {
	animation-delay: -15s;
}
body .wrap .cube .face.building1:nth-of-type(6) {
	animation-delay: -18s;
}
body .wrap .cube .face.building1:nth-of-type(7) {
	animation-delay: -21s;
}
body .wrap .cube .face.building1:nth-of-type(8) {
	animation-delay: -24s;
}
body .wrap .cube .face.building1:nth-of-type(9) {
	animation-delay: -27s;
}
body .wrap .cube .face.building1:nth-of-type(10) {
	animation-delay: -30s;
}
body .wrap .cube .face.building1:nth-of-type(11) {
	animation-delay: -33s;
}
body .wrap .cube .face.building1:nth-of-type(12) {
	animation-delay: -36s;
}
body .wrap .cube .face.building1:nth-of-type(13) {
	animation-delay: -39s;
}
body .wrap .cube .face.building1:nth-of-type(14) {
	animation-delay: -42s;
}
body .wrap .cube .face.building1:nth-of-type(15) {
	animation-delay: -45s;
}
body .wrap .cube .face.building1:nth-of-type(16) {
	animation-delay: -48s;
}
body .wrap .cube .face.building1:nth-of-type(17) {
	animation-delay: -51s;
}
body .wrap .cube .face.building1:nth-of-type(18) {
	animation-delay: -54s;
}
body .wrap .cube .face.building1:nth-of-type(19) {
	animation-delay: -57s;
}
body .wrap .cube .face.building1:nth-of-type(20) {
	animation-delay: -60s;
}
body .wrap .cube .face.building1:nth-of-type(21) {
	animation-delay: -63s;
}
body .wrap .cube .face.building1:nth-of-type(22) {
	animation-delay: -66s;
}
body .wrap .cube .face.building1:nth-of-type(23) {
	animation-delay: -69s;
}
body .wrap .cube .face.building1:nth-of-type(24) {
	animation-delay: -72s;
}
body .wrap .cube .face.building1:nth-of-type(25) {
	animation-delay: -75s;
}
body .wrap .cube .face.building1:nth-of-type(3n) {
	height: 400px;
}
body .wrap .cube .face.building1:nth-of-type(4n) {
	height: 600px;
	margin-left: -900px;
}
body .wrap .cube .face.building1:nth-of-type(6n) {
	height: 1400px;
}
@keyframes lefttoright {
0% {
transform: rotateY(-90deg) translateZ(25px) translateX(-1100%);
background: #462e37;
}
100% {
transform: rotateY(-90deg) translateZ(25px) translateX(35%);
background: #835768;
}
}
body .wrap .cube .face.building1:before {
	content: "";
	position: absolute;
	width: 300px;
	height: 100%;
	background: linear-gradient(to bottom, #fcb3a4, #8a5967);
	top: 0;
	left: 0;
	transform: rotateY(90deg) translateZ(-250px);
	transform-origin: 100% 50%;
}
body .wrap .cube .face.building1.right {
	margin-left: 1050px;
}
body .wrap .cube .face.building1.right:before {
	transform: rotateY(90deg) translateZ(-250px) translateX(100%);
}
body .wrap .cube .face.building1.right:nth-of-type(4n) {
	height: 600px;
	margin-left: 1250px;
}
body .wrap .cube .face.building1.right:nth-of-type(6n) {
	height: 1200px;
}
body .wrap .cube .face:nth-of-type(5) {
	transform: rotateX(90deg) translateZ(200px);
}
body .wrap .cube .face.road {
	height: 100%;
	top: -75%;
	background: repeating-linear-gradient(to bottom, transparent, transparent 10px, #2c2334 10px, #2c2334 30px), linear-gradient(to right, #2c2334, #2c2334 48%, #fcb3a4 48%, #fcb3a4 52%, #2c2334 52%);
	transform: rotateX(-110deg) translateZ(300px);
	animation: animatedBackground 150s linear infinite;
}
@keyframes animatedBackground {
from {
	background-position: 0 1000px;
}
to {
	background-position: 0 -1000px;
}
}