.trackList {
	margin: 10px 0;
}

.trackList .info-item .info-middle {
	color: black;
	position: absolute;
	width: 95%
}

.trackIcon {
	font-size: 35px;
}

.icon-unchecked {
	font-size: 20px;
	color: #49d23c;
	text-align: center;
}

.trackList .um-label {
    position: relative;
}
