<!--by zhuhy-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="../../../css/iuapmobile.um.css">
		<link type="text/css" rel="stylesheet" href="../../../css/mintui.css" />
		<link type="text/css" rel="stylesheet" href="http://at.alicdn.com/t/font_861007_e5je0imgl4c.css"/>
		<link type="text/css" rel="stylesheet" href="../../util/util.css"/>
		<link type="text/css" rel="stylesheet" href="trackArea.css"/>

		<script type="text/javascript" src="../../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../js/summer.js" ></script>
		<script type="text/javascript" src="../../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script type="text/javascript" src="../../../js/vue.js"></script>
		<script type="text/javascript" src="../../../js/mintui.js"></script>
		<script type="text/javascript" src="../../util/util.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
		<script type="text/javascript" src="../../../js/her.min.js" ></script>
		<script type="text/javascript" src="trackArea.js" ></script>
	</head>
	<body>
		<div class="um-win" id="index">
			<div class="um-header header-bg">
				<a href="#" class="um-back" @click="goback"></a>
				<h3 class="title-color" v-text="module_title"></h3>
				<div class="um-header-btns">
					<a href="#" class="savebtn" @click="saveForm"></a>
				</div>
			</div>

			<div class="um-content">
				<div class="um-label um-box-justify">
					<div class="label-title">
						填报日期
					</div>
					<div class="label-content">
						<input type="text" class="double-percent" @click="open('picker-date')" v-model="fillInDate" readonly>
					</div>
				</div>
				
				<div class="trackList">
					<div class="um-label um-box-justify info-item" @click="goCategory(index)" v-for="(item, index) in categories">
						<i class="icon iconfont trackIcon" :class="'icon-'+item.id"></i>
						<div class="info-middle" v-text=item.text></div >
						<i class="icon iconfont icon-unchecked" v-if="item.completion"></i>
					</div>
				</div>

				<div class="um-label um-box-justify">
					<div class="label-title">
						现场管理员
					</div>
					<div class="label-content">
						<input id="manager" type="text" v-model="manager"/>
					</div>
				</div>

				<button class="submitbtn" @click="submitForm">
					提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交
				</button>

				<!--日期下拉选择控件-->
				<mt-datetime-picker ref="picker-date" type="date" :start-date="startDate" :end-date="endDate" :visible-item-count="5"   @confirm="handleDateConfirm"  v-model="datePickerValue"></mt-datetime-picker>
			</div>
		</div>
	</body>
</html>